<% layout("layouts/boilerplate.ejs")  %>

<body>
    <h1>Create a new Listing</h1>
    <form action="/listings/new" method="post">
        <input type="text" name="listing[title]" placeholder="Enter Title">
        <br>
        <textarea name="listing[description]" placeholder="Enter description"></textarea>
        <br>
        <input type="text" name="listing[image[url]]" placeholder="Enter image Url">
        <br>
        <input type="number" name="listing[price]" placeholder="Enter price">
        <br>
        <input type="text" name="listing[location]" placeholder="Enter location">
        <br>
        <input type="text" name="listing[country]" placeholder="Enter country">
        <br>
        <button>Submit</button>
        <br>

    </form>
</body>